:root {
  --middle-glow-1: radial-gradient(
    circle,
    rgba(255, 255, 0, 1),
    rgba(255, 255, 0, 0)
  );
  --middle-glow-2: radial-gradient(
    circle,
    rgba(0, 255, 255, 1),
    rgba(0, 255, 255, 0)
  );

  --third-glow: radial-gradient(
    circle,
    rgba(24, 154, 69, 1),
    rgba(255, 0, 0, 0)
  );
  --secondary-glow: radial-gradient(
    circle,
    rgba(169, 29, 58, 1),
    rgba(0, 0, 255, 0)
  );
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  /* Prevent scrollbars */
}

body::before,
body::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(90px);
  z-index: -1;
}

body::before {
  background: var(--third-glow);
  width: 50vw;
  height: 50vw;
  top: calc(50vh - 25vw);
  left: 50vw;
  animation: animateBefore 10s infinite;
}

body::after {
  background: var(--secondary-glow);
  width: 400px;
  height: 700px;
  top: calc(50vh - 400px);
  left: calc(50vw - 600px);
  animation: animateAfter 10s infinite;
}

/* New middle glow 1 */
body::before-new1 {
  background: var(--middle-glow-1);
  width: 300px;
  height: 300px;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  animation: animateMiddle1 12s infinite;
}

/* New middle glow 2 */
body::before-new2 {
  background: var(--middle-glow-2);
  width: 400px;
  height: 400px;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  animation: animateMiddle2 14s infinite;
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px) scale(0.8);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px) scale(1.2);
  }
  100% {
    transform: translateX(0);
  }
}

/* New keyframe animation for middle glow 1 */
@keyframes animateMiddle1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 50px) scale(1.1);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* New keyframe animation for middle glow 2 */
@keyframes animateMiddle2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, -50px) scale(1.2);
  }
  100% {
    transform: translate(0, 0);
  }
}
